# CognoDB / Neo4j Graph Database Credentials (bolt protocol)
COGNODB_URI="bolt://localhost:7687"
COGNODB_USERNAME="cogno"
COGNODB_PASSWORD="your_password_here"

# Optional Gemini API Key
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL
APP_URL="MY_APP_URL"
